spring:
  profiles:
    active: dev
  redis:
    port: 6379
    host: 127.0.0.1
    database: 0
    password: ''
    jedis:
      pool:
        max-active: 8
        max-idle: 8
        max-wait: -1ms
        min-idle: 1
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl