<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        {{msg}}
        <span v-html="msg"></span>
        {{count}}
        <img v-bind:src="picUrl">
        <button v-on:click = changePic()>换图</button>
        {{isPublish}}
        <img v-bind:src="captchUrl" v-on:mouseover="refreshCaptch()">
        <template v-if="flag === 1">

        </template>
        <template v-if="flag === 2">

        </template>
        <template v-if="flag === 3">

        </template>
        <input type="text" v-mode="name">
        {{name}}
        <button v-on:click="changeName()"> 改名字</button>
    </div>
    <script>
        const app = {
            data(){
                return {
                    msg: '<font size="30" color="red">SB杨小龙</font>',
                    count: 0,
                    picUrl: './images/yxl1.JPG',
                    timer: 0,
                    age: 0,
                    captchUrl: './images/yxl2.jpeg',
                    flag: 1,
                    name: '杨小龙'
                }
            },
            watch:{
                age(newVal, oldVal){

                }
            },
            computed:{
                isPublish(){
                    return true;
                }
            },
            created(){

            },
            mounted(){
                this.timer = setInterval(this.add, 1000)
            },
            beforeUnmount(){
                clearInterval(this.timer)
            },
            methods:{
                add(){
                    this.count = this.count + 1;
                },
                changePic(){
                    this.picUrl = './images/yxl2.jpeg'
                },
                refreshCaptch(){
                    this.captchUrl = './images/yxl1.jpg'
                },
                changeName(){
                    this.name = 'SB'
                }
            }
        }
        Vue.createApp(app).mount('#app')
    </script>
</body>
</html>